
services:
  postgres:
    image: postgres:latest
    restart: unless-stopped
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: test
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/postgresql

